body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #283149;
  
    text-align: center;
}
img {
  height: 100%;
  
}


main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}


.map:hover{
 
    cursor: pointer;
}



h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
color: #fff;
}


.name {
  color: #DBEDF3;
  
  position:absolute;
bottom: 200px;
right: 10px;
  z-index: 2;   
      
}